@model CreateViewModel
@inject ISidebarService SidebarService
@{
	ViewData["title"] = "Create Post";
}
@section Styles {
	<link rel="stylesheet" href="~/css/posts.css" />
}
@{
	Layout = "_LoggedLayout";
}
@section SideExtension {
	@await Html.PartialAsync("_sidebar", await SidebarService.GetSidebarModelAsync(Model.LoggedUserEntity))
}

<div class="posts-main">

	@await Html.PartialAsync("_welcome", Model.LoggedUserEntity)


	<div id="create-container">
		<div id="create-part">
			<div class="posts-content">
				<div class="card text-center mb-3">
					<form asp-action="Create" method="post">
						<div class="card-header">
							<input id="titleInput" type="text" name="Title" class="form-control text-light fw-bolder" placeholder="Note Title" required />
							<p id="titleMax">0/30</p>
						</div>
						<div class="card-body">
							<textarea id="contentInput" name="Content" class="form-control text-light fw-bold" placeholder="Note Content" required></textarea>
							<p id="contentMax">0/250</p>
						</div>
						<div class="card-footer text-body-secondary">
							<div class="theme_text"><p>@Model.ThemeName</p></div>
							<span class="d-flex" id="createButton-span" tabindex="0">
								<button class="btn btn-danger" type="submit" disabled>Create Post</button>
							</span>
						</div>
					</form>


				</div>
			</div>
		</div>
		<div id="will-be-added">
			<h1>Will be added soon.</h1>
		</div>
	</div>
</div>
@{
	if (MessageHelpers.PostBack)
	{
		@await Html.PartialAsync("_message", MessageHelpers.TryGetMessageModel())
	}
}
@section BottomExtension {
	@await Html.PartialAsync("_bottombar", Model.LoggedUserEntity)
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script>
	document.title = "@ViewData["Title"]";

	const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
	const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
</script>
@section Scripts {
	<script src="/js/Posts/posts.js"></script>
	<script src="/js/Posts/posts-create.js"></script>
}
