@*ABOUT*@

@section Styles{
	<link href="/css/about.css" rel="stylesheet" />
}

	<div class="main">
		<div class="header">
			<div class="logo">Memo Mate</div>
			<div class="unlogged">
				<div class="credentials">
					<input id="usernameField" type="text">
					<input id="passwordField" type="password">
					<button id="loginButton">Log In</button>
					<a id="createAccount" href="#">Create An Account</a>
				</div>
			</div>
		</div>

		<div class="showroom unlogged ">
			<div class="content">
				<div class="showImage">
					<img src="" alt="#">
				</div>
				<div class="textContent">
					<h2>Memo Mate</h2>
					<div class="paragraph">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid architecto illo veniam facilis inventore amet? Non consectetur praesentium pariatur hic exercitationem repudiandae blanditiis, voluptas facilis nulla alias sapiente autem eum nesciunt. Consectetur incidunt, velit quibusdam fugiat nisi ducimus sit porro maiores cupiditate voluptatibus nihil tempore. Illum quisquam aut excepturi rerum, repudiandae temporibus, vitae quo placeat consequuntur qui perferendis! Modi temporibus deserunt quas, iure consequatur nesciunt harum animi quod esse labore. Reiciendis iste cumque excepturi ipsa minima laudantium, commodi nisi labore delectus enim eius architecto magnam tempore quas! Repellendus illo, possimus saepe delectus, incidunt quasi vitae, quam soluta at culpa doloremque.</p>
					</div>
					<h2>Join Us</h2>
					<div class="paragraph">
						<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt architecto consequuntur magnam impedit quibusdam iure odio provident necessitatibus corrupti quisquam voluptas praesentium, itaque culpa adipisci laboriosam quaerat iusto voluptatibus corporis ipsum nemo dolorem ad delectus. Cumque accusantium autem hic optio officiis non quibusdam enim incidunt assumenda voluptates? Magni facilis, iusto, quisquam facere quis similique, quidem asperiores quasi sed reprehenderit rerum repellendus maxime ullam quae nostrum ut doloremque? Consequuntur alias repudiandae impedit perspiciatis dignissimos sequi quis asperiores illo laborum officia obcaecati sint repellat autem minus minima voluptatum accusantium quia, cum eveniet! Magnam dignissimos voluptas nihil porro natus rerum, facere optio nulla ducimus, distinctio, ab beatae. Eos, pariatur inventore odio beatae corporis ipsam est sint! Numquam animi fugiat accusantium officiis et accusamus ut laborum ipsum doloribus.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="register hidden">
			<div class="content">
				<p>Register Page</p>
				<div class="registerContainer">
					<p>Username:</p>
					<div class="registerUsername">
						<input id="registerUsername" type="text">
					</div>
					<p>Password:</p>
					<div class="registerPassword">
						<input id="registerPassword" type="password">
					</div>
					<div class="registerPassword2">
						<input id="registerPassword2" type="password">
					</div>
					<p>Mail:</p>
					<div class="registerMail">
						<input id="registerMail" type="text">
					</div>
					<div class="registerMail2">
						<input id="registerMail2" type="text">
					</div>
				</div>
				<button id="signupButton">Sign Up!</button>
			</div>
		</div>
		<div class="mainContent hidden">
			<div id="mainNotes"> </div>
			<div id="examineNote">
				<div class="noteTitle">
					<input type="text" name="" id="noteTitle">
				</div>
				<div class="noteContent">
					<textarea name="" id="noteContent"></textarea>
				</div>
			</div>
			<div id="noteTools">
				<div class="container">
					<div class="usernameSearchField">
						<input type="text" id="usernameSearchField">
					</div>
					<div class="searchUserButton">
						<button id="searchUserButton">Search User</button>
					</div>
					<div class="foundUsers">
						<select name="" id="foundUsers">
							<option value="0">Select User</option>
						</select>
					</div>
					<div class="addUser">
						<button id="addUser">Add User</button>
					</div>
					<div class="removeUser">
						<button id="removeUser">Remove User</button>
					</div>
					<div class="createText">
						<button id="createText">Create New Text</button>
					</div>
					<div class="saveText">
						<button id="saveText">Save Text</button>
					</div>
					<div class="deleteText">
						<button id="deleteText">Delete Text</button>
					</div>
				</div>
			</div>
		</div>
	</div>
