* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: ease 1ms;
    font-family: "Inter";
}

body {
    background-color: #9272d5 !important;
    background-size: cover;
}


.login-extension {
    width: 70% !important;
    height: 40% !important;
}

.main {
    width: 100%;
    margin: 0 !important;
    padding: 10px;
}

    .main .main-content {
        margin-right: 30px;
        margin-left: 30px;
    }

.custom-card {
    background-color: #A7B8FF !important;
    border: none;
    border-radius: 20px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#card1 {
    border: none;
}

#card2 {
    border: none;
}

#card3 {
    border: none;
}

.cardImage {
    margin: auto;
    margin-top: 10px;
    height: 6rem !important;
    width: 6rem !important;
}

.welcome {
    width: 70% !important;
    line-height: 1.2rem;
}

#welcome-text {
    font-size: 2.5rem;
    line-height: 2rem;
    font-weight: 600;
}

#name-text {
    font-family: "Indie Flower", cursive;
    font-size: 6rem;
    font-weight: 600;
}

.login-section {
    width: 30% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-extension {
    width: 50% !important;
}

    .login-extension .card-background {
        background-color: #BF9BFF;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

        .login-extension .card-background h3 {
            font-size: 2.2rem;
            font-weight: 700;
        }

    .login-extension .logbtn {
        background-color: #9272d5;
        border:none;
        border-color: #711DB0;
        font-size: 1rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }

        .login-extension .logbtn:hover {
            background-color: #711DB0;
            border-color: #9272d5;
        }

    .login-extension .form-control {
        height: 40px;
        border: none;
        border-radius: 16px;
    }

.signother-buttons {
    width: 100%;

}

    .signother-buttons button {
        width: 100%;
        margin: auto !important;
    }

.welcome {
    height: auto !important;
}




.step-container {
    background-color: #A7B8FF;
    border-radius: 20px;
    display: flex;
    margin:auto;
    width: 90%;
    max-width:720px;
    height: 460px !important;
    padding: 0;
}

.custom-card-header {
    text-align: center;
    line-height: 2rem;
    font-size: 1.9rem;
    font-weight: 700;
}

.card-body h5 {
    font-size: 2rem;
    font-weight: 800;
}

.card-body p {
    font-size: 1rem;
}

.card-info {
    width: 90%;
}

.choice {
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
    transition: width 0.2s;
    border-radius: 3px;
    display: flex !important;
}

.expand {
    width: 80%;
    height: 100%;
}

    .expand .combiner {
        display: flex !important;
        padding: 15px !important;
        height: 100% !important;
    }

    .expand .card-step {
        display: none !important;
    }

.small {
    width: 10%;
    height: 100%;
}

    .small .combiner {
        display: flex !important;
        height: 100% !important;
    }

        .small .combiner:hover {
            cursor: pointer;
        }

    .small .card-body {
        display: none !important;
        opacity: 0;
        width: 0 !important;
    }

    .small .card-step {
        width: 100% !important;
        height: 100%;
        font-size: 2rem;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.expand .card-body {
    transition-delay: 200ms;
    opacity: 1;
    width: 90% !important;
    height: 300px !important;
    padding: 0 !important;
    height: 100% !important;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 100%;
}

.expand .card-step {
    width: 5% !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid white;
    padding-right: 10px;
    font-size: 2rem;
    font-weight: 600;
    margin-right: 10px;
}

.card-step {
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

@media (max-width: 991px) {
    .main .main-content {
        display: block !important;
    }

    .main-content .welcome {
        width: 100% !important;
        padding-left: 15px !important;
    }

        .main-content .welcome .card-body {
            padding-left: 0 !important;
        }

    .main-content .login-section {
        width: 100% !important;
    }

    .login-extension {
        width: 100% !important;
        max-width: 500px !important;
    }

    #signupbuttonlink {
        display: none;
    }

    #name-text {
        font-size: 3rem !important;
    }

    .step-container {
        width: 100%;
        max-width: 500px;
    }
    .welcome{
        margin-bottom:30px;
    }
}
