* {
    box-sizing: content-box;
    font-family: 'Inter';
}

body {
    background-color: #9272d5 !important;
}

.posts-main {
    width: 100%;
    height: contain;
}

.welcome {
    height: auto;
}

    .welcome .welcome-nav {
        height: 40px !important;
    }

        .welcome .welcome-nav .user {
            margin-left: 10px;
            border-radius: 30px;
            border: 2px solid black;
            overflow: hidden;
        }

        .welcome .welcome-nav .searchbar {
            position: relative;
        }

            .welcome .welcome-nav .searchbar input {
                width: 300px;
                height: 40px;
            }

    .welcome .welcome-name {
        font-size: 2.4rem;
    }

    .welcome .welcome-nexttheme span {
        font-size: 1rem;
        font-weight: 400;
    }

#search-items {
    position: absolute;
    border-radius: 5px;
    height: contain;
    width: 100%;
    z-index: 2;
    border: none;
    top: 100%;
    cursor: pointer;
    color: white;
    background-color: #93b6ff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

    #search-items .search-row {
        height: 44px;
        width: 100%;
        align-items: center;
        color: white;
        text-decoration: none;
        font-weight: 400;
    }

        #search-items .search-row:hover {
            background-color: #BF9BFF;
        }

        #search-items .search-row .search-photo {
            margin-left: 10px;
            margin-right: 10px;
            border-radius: 16px;
            overflow: hidden;
            height: 2rem;
            width: 2rem;
            display: flex;
            justify-content: center;
        }

.search-title {
    width: fit-content;
    padding-left: 0.5rem;
    padding-right: 1.2rem;
    background-color: #6a9aff;
}

#posts-interests {
    margin-top: 0px;
    height: auto;
}

    #posts-interests .row-container {
        width: 94%;
        height: 100%;
        margin: auto;
    }

        #posts-interests .row-container > div {
            width: 30%;
            height: 460px;
        }

.item-holder {
    align-content: end;
}

    .item-holder .item-holder-title {
        color: white;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 600;
    }

        .item-holder .item-holder-title p {
            margin-bottom: 0;
        }

#today-theme {
    height: 90%;
    width: 90%;
    margin: auto;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

    #today-theme .theme-image {
        height: 76%;
        width: 100%;
        top: 0;
        z-index: 1;
        position: absolute;
        overflow: hidden;
        border-radius: 20px;
        box-shadow: 0 0 20px black;
    }

        #today-theme .theme-image img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

    #today-theme .theme-name-container {
        align-items: flex-end;
    }

        #today-theme .theme-name-container .theme-name {
            color: white;
            font-size: 1.8rem;
            font-weight: 600;
            text-shadow: 0px 2px 20px #ff0000;
        }

    #today-theme .theme-back {
        height: 100%;
        width: 100%;
        top: 0;
        z-index: 0;
        position: absolute;
        background-color: #BF9BFF;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

.multiple-posts-top {
    height: 90%;
    width: 100%;
    margin: auto;
    position: relative;
}

    .multiple-posts-top .carousel-container {
        border-radius: 20px;
        height: 100%;
        width: 96%;
        top: 0;
        right: 2%;
        z-index: 1;
        position: absolute;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

        .multiple-posts-top .carousel-container .custom-carousel-control {
            height: 20%;
            width: auto !important;
            top: 40%;
            color: #FFEDE0;
        }

        .multiple-posts-top .carousel-container .carousel-control-next {
            right: -20px !important;
        }

    .multiple-posts-top .carousel-control-prev {
        left: -20px !important;
    }

    .multiple-posts-top .multiple-posts-bg {
        border-radius: 20px;
        height: 90%;
        width: 100%;
        top: 15px;
        z-index: 0;
        position: absolute;
        background-color: #9878D4;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }



#posts-container {
    margin-top: 0px;
    height: auto;
}

    #posts-container .row-container {
        width: 94%;
        height: contain;
        margin: auto;
    }

    #posts-container .posts-bg {
        width: 100% !important;
    }

        #posts-container .posts-bg .posts-row {
            width: 100% !important;
            height: contain !important;
        }

            #posts-container .posts-bg .posts-row > div {
                width: 30% !important;
                height: 320px !important;
            }

#today-posts-title {
    font-size: 3rem;
    font-weight: 600;
}

.posts-card {
    border-radius: 20px !important;
    background-color: #BF9BFF !important;
    overflow: hidden !important;
    height: 100%;
}

    .posts-card .card-header {
        height: 40px;
        background-color: #BF9BFF;
        display: flex;
        border-bottom: none !important;
        padding: 0;
        margin-top: 10px;
        padding-right: 6px;
        padding-left: 6px;
    }

        .posts-card .card-header .post-profile {
            width: 35px;
            height: 35px;
            margin-left: 10px;
            border-radius: 30px;
            border: 3px solid #76ffbc;
            overflow: hidden;
            margin-right: 5px;
        }

        .posts-card .card-header img {
            object-fit: cover !important;
        }

        .posts-card .card-header a {
            color: white;
            text-decoration: none;
        }

    .posts-card .card-body {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }

        .posts-card .card-body .card-content {
            height: 90%;
        }

        .posts-card .card-body .card-theme {
            height: 10%;
            font-size: 0.9rem;
            text-align: left;
            font-weight: 600;
            color: #711DB0;
        }

    .posts-card .card-title {
        color: #FFE482;
        font-size: 1.6rem;
        font-weight: 600;
        text-align: left !important;
    }

    .posts-card .card-text {
        color: #FFEDE0;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1rem;
        text-align: left !important;
    }

#rates-page .posts-card {
    width: 90%;
    max-width: 600px;
    margin: auto;
}
#rate-forms {
    display: flex;
    flex-direction: column;
    width: 100%;
}
#rate-forms form{
    display: flex;
}
#rates-page .rate-buttons {
    background-color: #9272d5;
    border: none;
    border-color: #711DB0;
    font-size: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    width:75%;
    max-width:500px;
    margin:auto;
    margin-bottom:20px;
}

    #rates-page .rate-buttons:hover {
        background-color: #711DB0;
        border-color: #9272d5;
    }

/*Create*/
#create-container {
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    height: 400px;
    align-items: center;
}

#create-part {
    width: 40%;
    max-width: 800px;
    height: 100%;
    margin-right: 20px;
}

    #create-part .posts-content {
        height: 100%;
    }

        #create-part .posts-content .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
        }

        #create-part .posts-content .card, #create-part .posts-content form {
            margin: 0 !important;
            height: 100%;
            background-color: #B882FF;
            border-radius: 16px;
        }

            #create-part .posts-content .card .card-header {
                margin-top: 10px;
                height: 18%;
                background: none;
                border: none;
                margin-top: 20px;
                padding-right: 10%;
                padding-left: 10%;
                position: relative;
            }

                #create-part .posts-content .card .card-header input {
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
                    border-radius: 20px;
                    height: 100%;
                    margin: auto;
                    width: 100%;
                    background-color: #BF9BFF;
                    border: none;
                    font-size: 1.2rem;
                    padding-right: 60px;
                }

                    #create-part .posts-content .card .card-header input::placeholder {
                        color: #9272d5;
                    }

                #create-part .posts-content .card .card-header p {
                    position: absolute;
                    top: 50%;
                    right: 11%;
                    transform: translateY(-50%);
                    color: white;
                    background-color: #9878D4;
                    border-radius: 14px;
                    padding: 2px 4px;
                    font-weight: 700;
                }


            #create-part .posts-content .card .card-body {
                height: 60%;
                background: none;
                border: none;
                padding-left: 10%;
                padding-right: 10%;
                position: relative;
            }

                #create-part .posts-content .card .card-body textarea {
                    resize: none;
                    font-size: 1rem;
                    height: 100%;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
                    background-color: #BF9BFF;
                    margin: auto;
                    width: 100%;
                    border: none;
                    border-radius: 16px;
                }

                    #create-part .posts-content .card .card-body textarea::placeholder {
                        color: #9272d5;
                    }

                    #create-part .posts-content .card .card-body textarea::-webkit-scrollbar {
                        width: 6px;
                    }

                    #create-part .posts-content .card .card-body textarea::-webkit-scrollbar-track {
                        background: #f1f1f1;
                    }

                    #create-part .posts-content .card .card-body textarea::-webkit-scrollbar-thumb {
                        background: #888;
                    }

                        #create-part .posts-content .card .card-body textarea::-webkit-scrollbar-thumb:hover {
                            background: #555;
                        }

                #create-part .posts-content .card .card-body p {
                    position: absolute;
                    top: 85%;
                    right: 11%;
                    transform: translateY(-50%);
                    color: white;
                    background-color: #9878D4;
                    border-radius: 14px;
                    padding: 2px 4px;
                    font-weight: 700;
                }

            #create-part .posts-content .card .card-footer {
                height: 15%;
                background: none;
                border: none;
                display: flex;
                justify-content: space-between;
                padding-right: 10%;
                padding-left: 10%;
            }

                #create-part .posts-content .card .card-footer div {
                    display: flex;
                }

                #create-part .posts-content .card .card-footer p {
                    color: #FFE482;
                    font-size: 1rem;
                    margin: auto;
                    font-weight: 600;
                }

                #create-part .posts-content .card .card-footer btn {
                    margin: auto;
                }


        #create-part .posts-content .logbtn {
            background-color: #9272d5;
            border: none;
            border-color: #711DB0;
            font-size: 1rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
        }

            #create-part .posts-content .logbtn:hover {
                background-color: #711DB0;
                border-color: #9272d5;
            }

#will-be-added {
    width: 40%;
    max-width: 500px;
    height: 100%;
    background-color: white;
    background-color: #B882FF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 20px;
}

    #will-be-added h1 {
        color: white !important;
        font-weight: 700 !important;
        font-size: 5rem;
    }

.with-popover {
    white-space: normal !important;
    display: block;
}

.custom-popover {
    --bs-popover-border-color: #9272d5 !important;
    --bs-popover-header-bg: #9272d5 !important;
    --bs-popover-header-color: var(--bs-white) !important;
    --bs-popover-body-bg: #711DB0 !important;
    --bs-popover-body-padding-x: 1rem !important;
    --bs-popover-body-padding-y: .5rem !important;
}




.single-post #posts-title {
    text-align: center;
}

.single-post .post-holder {
    max-width: 600px;
    margin: auto;
    width: 90%;
}


.post-interactions{
    background: none;
    outline: none;
    border: none;
}
.post-interactions button {
    background: none;
    outline: none;
    border: none;
}
.card-footer span{
    width:25%;
}

.post-interactions .unliked {
    color: #594861 !important;
}
.post-interactions button:hover {
    color: #594861 !important;
}
    .post-interactions button:hover i {
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
    }
.post-interactions .liked {
    color: #FFE482 !important;
}

#likes-page {
    padding-left:20px;
    padding-right:20px;
}
    #likes-page .custom-container{
        width:90%;
        max-width:700px;
        margin:auto;

    }

#user-details .card {
    background-color: #ac85ff !important;
}
#user-details .list-group-item {
    background-color: #f5f0ff !important;
    border: none;
}
#user-details .list-group-item:hover {
    box-sizing:border-box;
    background-color: #f5f0ff !important;
    border: 2px solid black;
}
#user-interactions{
    width: 90%;
    max-width:400px;
}
.follow-user {
    background: none;
    border: none;
}
    .follow-user i {
        color: #711DB0;
    }
@media (max-width: 1580px) {
    .posts-card .card-title {
        color: #FFE482;
        font-size: 1.2rem;
        font-weight: 600;
        text-align: left !important;
    }

    .posts-card .card-text {
        color: #FFEDE0;
        font-weight: 500;
        font-size: .8rem;
        line-height: .9rem;
        text-align: left !important;
    }
    .card .card-footer {
        font-size: 0.8rem;
    }
        .card .card-footer button {
            padding-left: 5px !important;
            padding-right: 5px !important;
        }

    #search-items .search-row {
        height: 30px;
    }

        #search-items .search-row .search-photo {
            height: 1.8rem;
            width: 1.8rem;
        }
        #search-items .search-row .search-name {
            font-size:0.8rem;
        }
}

@media (max-width: 992px) {


    #posts-interests {
        margin-top: 0px;
        height: auto;
    }

        #posts-interests .row-container {
            width: 94%;
            flex-direction: column !important;
            height: 100%;
            margin: auto;
        }

            #posts-interests .row-container > div {
                width: 90%;
                max-width: 600px;
                margin: auto;
                height: 460px;
            }

            #posts-interests .row-container .multiple-posts-container, #today-theme-container {
                height: 400px !important;
            }

    .welcome .welcome-nav .searchbar input {
        width: 200px;
        height: 30px;
    }

    .welcome .welcome-nav .searchbar button {
        top: 4px;
        right: 4px;
    }

    #create-container {
        flex-direction: column;
        height: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    #create-part {
        width: 90%;
        height: 400px;
        margin-right: 0;
        margin-bottom: 20px;
    }

        #create-part .posts-content {
            height: 100% !important;
        }


    .posts-card .card-title {
        font-size: 1.5rem !important;
    }

    .posts-card .card-text {
        font-size: 1rem !important;
        line-height: 1.1rem !important;
    }



    #today-posts-container .posts-row {
        flex-direction: column;
    }

    #posts-container .posts-bg .posts-row > div {
        margin: auto;
        width: 90% !important;
        height: 360px !important;
    }

    .posts-bg {
        margin-bottom: 100px;
    }

    #will-be-added {
        width: 90%;
        max-width: 400px;
        margin-bottom: 100px;
    }

        #will-be-added h1 {
            font-size: 4em;
        }
}
