@model User

<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark border-bottom-0">
	<ul class="navbar-nav mr-auto">
		<li class="nav-item active">
			<a href="@Url.Action("Rates","Posts")" class="nav-link py-2 border-bottom" id="side-rate" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
				<i class="fa-solid fa-star-half-stroke fa-xl"></i>
			</a>
		</li>
		<li class="nav-item">
			<a href="@Url.Action("Index","Posts")" class="nav-link active py-2 border-bottom" id="side-home" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
				<i class="fa-solid fa-house fa-xl"></i>
			</a>
		</li>
		<li class="nav-item">
			<a href="@Url.Action("Create","Posts")" class="nav-link py-2 border-bottom" id="side-create" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
				<i class="fa-solid fa-square-plus fa-xl"></i>
			</a>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link py-2 border-bottom" id="dropdownUser3" data-bs-toggle="tooltip" aria-expanded="false">
				<img src="/img/user/profile/@Model.Photo" alt="mdo" width="24" height="24" class="rounded-circle">
			</a>
		</li>
	</ul>
</nav>

<script src="./js/sidebar.js"></script>