@model List<PostDetailModel>
@{
	for (int i = 0; i <= (int)MathF.Ceiling(Model.Count / 3); i++)
	{
		int start = i * 3;

		<div class="posts-row d-flex justify-content-evenly">
			@for (int j = start; j < start + 3; j++)
			{
				if (j == Model.Count)
					break;
				@await Html.PartialAsync("_post", Model[j]);
			}
		</div>
	}
}