@model UserLoginModel

@section Styles {
	<link rel="stylesheet" href="~/css/home.css" />
}
@{
	Layout = "_MainLayout";
}
<div class="main">
	<div class="d-flex main-content">
		<div class="card text-white welcome bg-transparent border-0 ps-5 w-50">
			<div class="card-body ps-5">
				<h1 class="card-title text-left m-0" id="welcome-text">Welcome to</h1>
				<h1 class="card-title text-left" id="name-text">MemoMate</h1>

				<div class="step-container">

					<div class="card choice expand text-white custom-card" id="card1">
						<div class=combiner>
							<div class="card-step">1</div>
							<div class="card-body">

								<div class="custom-card-header">Account</div>
								<img class="card-img-top cardImage d-block m-auto" src="/img/home/icons/sign-up.png" alt="Card image cap">
								<div class="m-auto h-100 card-info">
									<h5 class="card-title text-left">Have An Account?</h5>
									<p class="card-text text-left">If you already have an account, sign in to start sharing your notes! If you don't have one yet, sign up now and start sharing your notes with the world!</p>
								</div>
							</div>
						</div>
					</div>
					<div class="card choice small text-white custom-card" id="card2">
						<div class=combiner>
							<div class="card-step">2</div>
							<div class="card-body">

								<div class="custom-card-header">Create Note</div>
								<img class="card-img-top cardImage d-block m-auto" src="/img/home/icons/notes.png" alt="Card image cap">
								<div class="m-auto h-100 card-info">
									<h5 class="card-title text-left">What do you think?</h5>
									<p class="card-text text-left">Write a short note about science, comedy, or any topic you want and share it with the world! It's time to share something new you've learned or want to share!</p>
								</div>
							</div>
						</div>
					</div>


					<div class="card choice small text-white custom-card" id="card3">
						<div class=combiner>
							<div class="card-step">3</div>
							<div class="card-body">

								<div class="custom-card-header">Rating</div>
								<img class="card-img-top cardImage d-block m-auto" src="/img/home/icons/rate.png" alt="Card image cap">
								<div class="m-auto h-100 card-info">
									<h5 class="card-title text-left">Rate the Notes</h5>
									<p class="card-text text-left">Read and rate notes from randomly selected online users! Contribute to the process of sharing knowledge by selecting the best notes and helping other users discover them!</p>
								</div>

							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
		<form class="login-section w-50" method="post">
			<div class="container">
				<div class="row d-flex justify-content-center align-items-center">
					<div class="login-extension">
						<div class="card shadow-2-strong card-background" style="border-radius: 1rem;">
							<div class="card-body p-4">
								<h3 class="mb-3 text-white text-center">Sign in</h3>

								<div data-mdb-input-init class="form-outline mb-3">
									<label class="form-label text-white fw-bold" for="usernameField">Username</label>
									<input type="text" id="usernameField" asp-for="Username" name="Username" class="form-control form-control-sm" />
								</div>

								<div data-mdb-input-init class="form-outline mb-1">
									<label class="form-label text-white fw-bold" for="passwordField">Password</label>
									<input type="password" id="passwordField" asp-for="Password" name="Password" class="form-control form-control-sm" />
								</div>

								<div class="text-center w-100 mt-3">
									<button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block logbtn w-100 mb-3" type="submit">Sign In</button>
									<a href="@Url.Action("Index","Register")"><button class="btn btn-primary btn-lg btn-block logbtn w-100" type="button">Sign Up</button></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

	<div class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Modal body text goes here.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Save changes</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	<script src="/js/homeindex.js"></script>
}