@model UserLoginModel

@section Styles {
	<link rel="stylesheet" href="~/css/home.css" />
}
@{
	Layout = "_MainLayout";
}
<div class="main">
	<div class="d-flex container  justify-content-center">
		<div class="card text-white welcome bg-transparent border-0 ps-5">
			<div class="card-body ps-5">
				<h1 class="card-title text-left m-0" style="font-size: 1.4rem">Welcome to</h1>
				<h1 class="card-title text-left" style="font-size: 4.2rem">MemoMate</h1>
				<p class="card-text text-left"><strong>MemoMate</strong> is a unique platform where users can <strong>share, read, and rate short notes</strong> on a variety of topics. Whether you're passionate about <em>science</em>, <em>comedy</em>, or anything in between, <strong>MemoMate</strong> is the perfect place to share your thoughts and insights. Here's how it works:</p>

				<!--nav-->


<div class="step-container">

  <div class="card choice expand text-white mx-2 card1">
	  <div class=combiner>
		  <div class="card-step">1</div>
		  <div class="card-body">

			  <div class="card-header">Account</div>
			  <img class="card-img-top cardImage ci1" src="/img/home/icons/sign-up.png" alt="Card image cap">
			  <div class="card-body">
				  <h5 class="card-title">Have An Account?</h5>
				  <p class="card-text">If you already have an account, sign in to start sharing your notes! If you don't have one yet, sign up now and start sharing your notes with the world!</p>
			  </div>
		  </div>
	  </div>
  </div>
  <div class="card choice small text-white mx-2 card2">
	  <div class=combiner>
		  <div class="card-step">2</div>
		  <div class="card-body">
			  <div class="card-header">Create Note</div>
			  <img class="card-img-top cardImage" src="/img/home/icons/notes.png" alt="Card image cap">
			  <div class="card-body">
				  <h5 class="card-title">Create a Note</h5>
				  <p class="card-text">Write a short note about science, comedy, or any topic you want and share it with the world! It's time to share something new you've learned or want to share!</p>
			  </div>
		  </div>
      </div>
  </div>

	<div class="card choice small text-white mx-2 card3">
	  <div class=combiner>
		  <div class="card-step">3</div>
		  <div class="card-body">
			  <div class="card-header">Rate</div>
			  <img class="card-img-top cardImage ci3" src="/img/home/icons/rate.png" alt="Card image cap">
			  <div class="card-body">
				  <h5 class="card-title">Rate the Notes</h5>
				  <p class="card-text">Read and rate notes from randomly selected online users! Contribute to the process of sharing knowledge by selecting the best notes and helping other users discover them!</p>
			  </div>

		  </div>
	  </div>
  </div>


</div>

<!--

				<div class="card text-center step-container">
					<div class="card-header step-container-color">
						<ul class="nav nav-tabs steps" id="myTab" role="tablist">
							<li class="nav-item" role="presentation">
								<button class="nav-link active text-light" id="home-tab" data-bs-toggle="tab" data-bs-target="#step1" type="button" role="tab" aria-controls="home" aria-selected="true">Step1</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link text-light" id="profile-tab" data-bs-toggle="tab" data-bs-target="#step2" type="button" role="tab" aria-controls="profile" aria-selected="false">Step2</button>
							</li>
							<li class="nav-item" role="presentation">
								<button class="nav-link text-light" id="contact-tab" data-bs-toggle="tab" data-bs-target="#step3" type="button" role="tab" aria-controls="contact" aria-selected="false">Step3</button>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="step1" role="tabpanel" aria-labelledby="step1-tab">
								<div class="LoginShow text-light ">
									<div class="card-header">Account</div>
									<img class="card-img-top cardImage ci1" src="/img/home/icons/sign-up.png" alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title">Have An Account?</h5>
										<p class="card-text">If you already have an account, sign in to start sharing your notes! If you don't have one yet, sign up now and start sharing your notes with the world!</p>
									</div>
								</div>

								<div class="card-body">
									<h5 class="card-title text-white">Don't Have An Account?</h5>
									<a href="Url.Action("Index", "Register")" class="btn btn-primary">Sign Up</a>
								</div>
							</div>
							<div class="tab-pane fade" id="step2" role="tabpanel" aria-labelledby="step2-tab">
								<div class="CreateNoteShow d-grid gap-3 text-light">
									<div class="card-header">Create Note</div>
									<img class="card-img-top cardImage" src="/img/home/icons/notes.png" alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title">Create a Note</h5>
										<p class="card-text">Write a short note about science, comedy, or any topic you want and share it with the world! It's time to share something new you've learned or want to share!</p>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="step3" role="tabpanel" aria-labelledby="step3-tab">
								<div class="HighNoteShow text-light">

									<div class="card-header">Rate</div>
									<img class="card-img-top cardImage ci3" src="/img/home/icons/rate.png" alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title">Rate the Notes</h5>
										<p class="card-text">Read and rate notes from randomly selected online users! Contribute to the process of sharing knowledge by selecting the best notes and helping other users discover them!</p>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
-->
				<!--eonav-->
			</div>
		</div>
		<form class="login-section" asp-action="Index" method="post">
			<div class="container">
				<div class="row d-flex justify-content-center align-items-center">
					<div class="login-extension">
						<div class="card shadow-2-strong" style="border-radius: 1rem;">
							<div class="card-body p-4 text-center">
								<h3 class="mb-3">Sign in</h3>

								<div data-mdb-input-init class="form-outline mb-1">
									<input type="text" id="usernameField" asp-for="Username" name="Username" class="form-control form-control-sm" />
									<label class="form-label" for="usernameField">Username</label>
								</div>

								<div data-mdb-input-init class="form-outline mb-1">
									<input type="password" id="passwordField" asp-for="Password" name="Password" class="form-control form-control-sm" />
									<label class="form-label" for="passwordField">Password</label>
								</div>

								<button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block logbtn" type="submit">Login to your Account</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

	<div class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Modal body text goes here.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Save changes</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts {
								<script src="/js/homeindex.js"></script>
}