<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memo Mate</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap" rel="stylesheet" />
    <link href="/css/home.css" rel="stylesheet" />


</head>
<body>
    <div class="main">
        <div class="header">
            <div class="logo">Memo Mate</div>
            <div class="unlogged">
                <div class="credentials">
                    <a id="createAccount" href="#">Sign In</a>
                </div>
            </div>
        </div>
        <div class="register hidden">
            <div class="content">
                <p>Register Page</p>
                <div class="registerContainer">
                    <p>Username:</p>
                    <div class="registerUsername">
                        <input id="registerUsername" type="text">
                    </div>
                    <p>Password:</p>
                    <div class="registerPassword">
                        <input id="registerPassword" type="password">
                    </div>
                    <div class="registerPassword2">
                        <input id="registerPassword2" type="password">
                    </div>
                    <p>Mail:</p>
                    <div class="registerMail">
                        <input id="registerMail" type="text">
                    </div>
                    <div class="registerMail2">
                        <input id="registerMail2" type="text">
                    </div>
                </div>
                <button id="signupButton">Sign Up!</button>
            </div>
        </div>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>